[submodule "./src/BehaviorTree.ROS2"]
  path = src/BehaviorTree.ROS2
	url = https://github.com/marip8/BehaviorTree.ROS2.git
[submodule "src/BehaviorTree.CPP"]
	path = src/BehaviorTree.CPP
	url = https://github.com/BehaviorTree/BehaviorTree.CPP.git
